*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Karla";
}

body{
    background-color: hsl(204, 43%, 93%);
    font-size: 16px;
    line-height: 1.8;
}

.container{
    margin: auto;
    width: 100%;  
    padding: 80px 30px;    
}

.container-2{
    box-shadow: 5px 5px 10px 10px rgb(216, 230, 235);
    border-radius: 5px;
    background-color: #4ABEBD;
}

.join{
    background-color: white;
    padding: 25px;
    border-radius: 5px 5px 0 0;
}

h3{
    color: #2BB3B1;

}

.join > h4{
    color: #BFDF32;
}

.join > p{
    color: hsl(218, 22%, 67%);
}

.subscription{
    background-color: #2BB3B1;
    color: white;
    padding: 25px;
}

.twentynine{
    font-size: 30px;
    font-weight: 700;
}

.per-month{
    color: #6fe0e0;
    vertical-align: text-bottom;
}

.sign-up{
    background-color: #BFDF32;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-weight: 400;
    box-shadow: 5px 5px 10px #278b8a;
}

.sign-up > a:link{
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
}

.why-us{
    background-color: #4ABEBD;
    color: white;
    padding: 25px;
    border-radius: 0 0 5px 5px;
}

.why-us > h4{
    margin-bottom: 10px;
}

.why-us > p{
    font-size: 12px;
    font-weight: 200;
    color: rgb(203, 245, 235);;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (min-width: 800px){

    .container{
        margin: auto;
        width: 50%;  
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
      }

    .join{
        padding: 35px;
    }
    
      .subscription{
        width:50%;
        float:left;
        border-radius: 0 0 0 5px;
        padding: 35px;
        
      }

    .why-us{
        width:50%;
        height: inherit;
        float:left;
        border-radius: 0 0 5px 0;
        line-height: 1.8;
        padding: 34.5px;
      }

}